.jumbotron {
    /*background-image: url("/Upload/logo.jpg");
    background-repeat: no-repeat;
    background-size: auto;*/
}

/* Sticky footer styles
-------------------------------------------------- */
.card-title{
    font-size:20px;
    font-weight : 400;
    color : #484848;
    line-height: 1.35em;
    height : 34px;
}

.card-text {
    font-size: 12px;
}


.description {
    font-size: 12px;
    height: 40px;
}


.imagestylee {
    height: 350px;
}

#product-details h1 {
    font-size: 20px;
    font-weight: 700;
}

.product-price{
    color:#414141;
    font-weight:700;
    font-size:17px;
}

#write-review {
    margin-right: 160px;
}

#product-price{
    font-size: 28px;
    color:red;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}