﻿@using UrunKatalog.Web.Entity
@model Product
@{
    ViewBag.Title = "Details";
}


<div id="product-details" class="container pb-5">
<div class="row">
              <div class="col-md-6">
                  <img src="/Upload/@Model.Image"  class="img-fluid rounded w-100">
              </div>
              <div class="col-md-6">
                  <div class="row">
                      <div class="col md-12">
                             <h1> @Model.Name</h1>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col md-12">
                          @if (Model.IsApproved)
                          {
                              <span class="badge badge-primary">Stokta</span>
                          }
                          else
                          {
                              <span class="badge badge-danger">Stokta Yok</span>
                          }
                          <span class="product-numnber">#12321312</span>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col md-12">
                             <div id="description">
                                 @Model.Description
                             </div>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col md-4">
                          <i class="fa-solid fa-star" aria-hidden="true"></i>
                          <i class="fa-solid fa-star" aria-hidden="true"></i>
                          <i class="fa-solid fa-star" aria-hidden="true"></i>
                          <i class="fa-solid fa-star" aria-hidden="true"></i>
                          <i class="fa-solid fa-star" aria-hidden="true"></i>
                          <span class="badge badge-primary">53</span>
                      </div>
                      <div id="write-review" class="col-md-4">
                          <a href="#">
                               Write a review

                          </a>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col md-12">
                             <h4 id="product-price">@Model.Price TL</h4>
                      </div>
                  </div>
                   <div class="row mt-2">
                      <div class="col md-12">
                             <button class="btn btn-success"> 
                                <i class="fa-solid fa-cart-plus"></i>
                                 Add to Cart
                             </button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row mt-3">
            <div class="col md-12">
                <div class="bd-example bd-example-tabs">
                      <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-home" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-payment" role="tab" aria-controls="pills-profile" aria-selected="false">Payment Methods</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-comment" role="tab" aria-controls="pills-contact" aria-selected="false">Reviews</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                          <p>Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt offici excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt nostrud.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
                          <p>Ad pariatur nostrud pariatur occaecat pariatur ut ullamco ea tempor duis.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">
                          <p>Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua.</p>
                        </div>
                    </div>
                </div>  
            </div>
          </div>
</div>

