﻿@using UrunKatalog.Web.Models
@model IEnumerable<ProductModel>

@{ 
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}
<ul class="list-group">
        <a href="/Home/List" class="list-group-item">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Tüm Kategoriler
        </a>

    @*@foreach (var item in Model.GroupBy(p => p.CategoryId).Select(id => id.First()).ToList())
        {
            <li class="list-group-item">
                <a href="/Home/List/@item.CategoryId">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>
            </li>
        }*@
        <a href="/Home/List/1" class="list-group-item">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Etek
        </a>
        <a href="/Home/List/2" class="list-group-item">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Pantolon
        </a>
        <a href="/Home/List/3" class="list-group-item">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Esofman
        </a>
        <a href="/Home/List/4" class="list-group-item">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Bluz
        </a>
</ul>

