﻿
@*<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
</form>*@

<ul class="navbar-nav my-2 my-lg-0">

    @if (Request.IsAuthenticated)
    {

        <li class="nav-item active">
            <a class="nav-link" href="/">@User.Identity.Name</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/Account/Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Login">Login</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/Account/Register">Register</a>
        </li>
    }
</ul>